Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
BreakBeforeBinaryOperators: NonAssignment
ContinuationIndentWidth: 4
AlignOperands: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
PointerAlignment: Left
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
ColumnLimit: 85
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
BinPackArguments: false
SortIncludes: true
IncludeBlocks: Regroup
BreakBeforeBraces: Attach
IncludeCategories:
  - Regex:           '^<.*'
    Priority:        1
  - Regex:           '^"h3api/.*'
    Priority:        2
  - Regex:           '.*'
    Priority:        3